<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yidiandian.dao.LocalSpecialtyInfoDao">

    <resultMap id="BaseResultMap" type="com.yidiandian.entity.LocalSpecialtyInfo">
        <!--@Table local_specialty_info-->
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="productCode" column="product_code" jdbcType="VARCHAR"/>
        <result property="productName" column="product_name" jdbcType="VARCHAR"/>
        <result property="productImage" column="product_image" jdbcType="VARCHAR"/>
        <result property="provinceCode" column="province_code" jdbcType="VARCHAR"/>
        <result property="cityCode" column="city_code" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="BaseResultMap">
        select
          id, product_code, product_name, product_image, province_code, city_code, create_time, update_time, create_by
        from Travel.local_specialty_info
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="BaseResultMap">
        select
          id, product_code, product_name, product_image, province_code, city_code, create_time, update_time, create_by
        from Travel.local_specialty_info
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="BaseResultMap">
        select
          id, product_code, product_name, product_image, province_code, city_code, create_time, update_time, create_by
        from Travel.local_specialty_info
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="productCode != null and productCode != ''">
                and product_code = #{productCode}
            </if>
            <if test="productName != null and productName != ''">
                and product_name = #{productName}
            </if>
            <if test="productImage != null and productImage != ''">
                and product_image = #{productImage}
            </if>
            <if test="provinceCode != null and provinceCode != ''">
                and province_code = #{provinceCode}
            </if>
            <if test="cityCode != null and cityCode != ''">
                and city_code = #{cityCode}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="createBy != null and createBy != ''">
                and create_by = #{createBy}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into Travel.local_specialty_info(product_code, product_name, product_image, province_code, city_code, create_time, update_time, create_by)
        values (#{productCode}, #{productName}, #{productImage}, #{provinceCode}, #{cityCode}, now(), now(), #{createBy})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update Travel.local_specialty_info
        <set>
            <if test="productCode != null and productCode != ''">
                product_code = #{productCode},
            </if>
            <if test="productName != null and productName != ''">
                product_name = #{productName},
            </if>
            <if test="productImage != null and productImage != ''">
                product_image = #{productImage},
            </if>
            <if test="provinceCode != null and provinceCode != ''">
                province_code = #{provinceCode},
            </if>
            <if test="cityCode != null and cityCode != ''">
                city_code = #{cityCode},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = now(),
            </if>
            <if test="createBy != null and createBy != ''">
                create_by = #{createBy},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from Travel.local_specialty_info where id = #{id}
    </delete>

</mapper>