<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yidiandian.dao.ScenicSpotInfoDao">

    <resultMap id="BaseResultMap" type="com.yidiandian.entity.ScenicSpotInfo">
        <!--@Table scenic_spot_info-->
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="platformUniqueCode" column="platform_unique_code" jdbcType="VARCHAR"/>
        <result property="scenicSpotName" column="scenic_spot_name" jdbcType="VARCHAR"/>
        <result property="scenicSpotDescribe" column="scenic_spot_describe" jdbcType="VARCHAR"/>
        <result property="provinceCode" column="province_code" jdbcType="VARCHAR"/>
        <result property="cityCode" column="city_code" jdbcType="VARCHAR"/>
        <result property="starLevel" column="star_level" jdbcType="VARCHAR"/>
        <result property="hotLevel" column="hot_level" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="pulishStatus" column="pulish_status" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="BaseResultMap">
        select
          id,platform_unique_code, scenic_spot_name, scenic_spot_describe, province_code, city_code, star_level, hot_level, user_id, create_time, update_time, status, pulish_status
        from Travel.scenic_spot_info
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="BaseResultMap">
        select
          id,platform_unique_code, scenic_spot_name, scenic_spot_describe, province_code, city_code, star_level, hot_level, user_id, create_time, update_time, status, pulish_status
        from Travel.scenic_spot_info
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="BaseResultMap">
        select
          id,platform_unique_code, scenic_spot_name, scenic_spot_describe, province_code, city_code, star_level, hot_level, user_id, create_time, update_time, status, pulish_status
        from Travel.scenic_spot_info
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="platformUniqueCode != null and platformUniqueCode != ''">
                and platform_unique_code = #{platformUniqueCode}
            </if>
            <if test="scenicSpotName != null and scenicSpotName != ''">
                and scenic_spot_name = #{scenicSpotName}
            </if>
            <if test="scenicSpotDescribe != null and scenicSpotDescribe != ''">
                and scenic_spot_describe = #{scenicSpotDescribe}
            </if>
            <if test="provinceCode != null and provinceCode != ''">
                and province_code = #{provinceCode}
            </if>
            <if test="cityCode != null and cityCode != ''">
                and city_code = #{cityCode}
            </if>
            <if test="starLevel != null and starLevel != ''">
                and star_level = #{starLevel}
            </if>
            <if test="hotLevel != null and hotLevel != ''">
                and hot_level = #{hotLevel}
            </if>
            <if test="userId != null and userId != ''">
                and user_id = #{userId}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="pulishStatus != null">
                and pulish_status = #{pulishStatus}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into Travel.scenic_spot_info(platform_unique_code,scenic_spot_name, scenic_spot_describe, province_code, city_code, star_level, hot_level, user_id, create_time, update_time, status, pulish_status)
        values (#{platformUniqueCode},#{scenicSpotName}, #{scenicSpotDescribe}, #{provinceCode}, #{cityCode}, #{starLevel}, #{hotLevel}, #{userId}, now(), now(), #{status}, #{pulishStatus})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update Travel.scenic_spot_info
        <set>
            <if test="scenicSpotName != null and scenicSpotName != ''">
                scenic_spot_name = #{scenicSpotName},
            </if>
            <if test="scenicSpotDescribe != null and scenicSpotDescribe != ''">
                scenic_spot_describe = #{scenicSpotDescribe},
            </if>
            <if test="provinceCode != null and provinceCode != ''">
                province_code = #{provinceCode},
            </if>
            <if test="cityCode != null and cityCode != ''">
                city_code = #{cityCode},
            </if>
            <if test="starLevel != null and starLevel != ''">
                star_level = #{starLevel},
            </if>
            <if test="hotLevel != null and hotLevel != ''">
                hot_level = #{hotLevel},
            </if>
            <if test="userId != null and userId != ''">
                user_id = #{userId},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = now(),
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="pulishStatus != null">
                pulish_status = #{pulishStatus},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from Travel.scenic_spot_info where id = #{id}
    </delete>

    <!--通过scenicSpotName模糊匹配-->
    <select id="findAllByScenicSpotName" resultMap="BaseResultMap">
    select
    id,platform_unique_code, scenic_spot_name, scenic_spot_describe, province_code, city_code, star_level, hot_level, user_id, create_time, update_time, status, pulish_status
    from Travel.scenic_spot_info
    <where>
    <if test="scenicSpotName != null and scenicSpotName != ''">
        and scenic_spot_name like concat('%',#{scenicSpotName}, '%')
    </if>
    </where>
    </select>
    <select id="findSpotInfoLikeTitle" resultMap="BaseResultMap">
    select
    id,platform_unique_code, scenic_spot_name, scenic_spot_describe, province_code, city_code, star_level, hot_level, user_id, create_time, update_time, status, pulish_status
    from Travel.scenic_spot_info
    <where>
        and concat(scenic_spot_name,scenic_spot_describe) LIKE CONCAT ('%',#{title},'%')
    </where>
    </select>

    <select id="queryScenicSpotGroup" resultType="com.yidiandian.view.ScenicSpotView">
        select
        a.id,
        a.platform_unique_code platformUniqueCode,
        a.scenic_spot_name scenicSpotName,
        a.province_code provinceCode,
        a.city_code cityCode,
        b.main_image mainImage
        from Travel.scenic_spot_info as a left join Travel.scenic_spot_details as b on a.id = b.scenic_spot_info_id
        where 1 = 1
        <if test="provinceCode != null and provinceCode != ''">
            and a.province_code = #{provinceCode}
        </if>
        <if test="cityCode != null and cityCode != ''">
            and a.city_code = #{cityCode}
        </if>
        group by a.id,a.platform_unique_code, a.scenic_spot_name,a.province_code, a.city_code,b.main_image
    </select>
    <select id="findSpotInfoPage" resultType="com.yidiandian.view.UserScenicSpotView">

    </select>

    <delete id="deleteUserDynamic">
        delete from Travel.scenic_spot_info where user_id = #{userId} and id = #{id}
    </delete>

</mapper>